<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Question 4</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #map {
            height: 75%;
            width: 90%;
            margin: 0 auto;
            padding: 0;
            top: 20px;
            bottom: 10px;
        }

        h3 p {
            color: red;
        }

        h1, h3 {
            text-align: center;
            font-family: "Arial", serif;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<h1>Question 4 : the geographical distribution of crimes committed/elucidated (arrest)</h1>
<h3>
    <p>Refresh the page several times in case of no appearance of points<br />
    NB : For the sake of clarity only the results on the minimal dataset are displayed here</p>
    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"/> non-elucidated crime
    <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png"/> elucidated crime
</h3>

<div id="map"></div>

<script>
    var labels = [], values = [], markerLabels = [];

    $(document).ready(function () {
        $.get('../results/question4', function (data) {
            data = data.split(/\n/ig);

            for (var i = 0; i < data.length; i++) {
                var line = data[i].replace(/\n/ig, '');
                if (line.split("_")[0] != null && line.split("_")[0] !== '') labels.push(line.split("_")[0]);
                if (line.split("_")[1] != null) {
                    if (line.split("_")[1].includes("false")) values.push("false");
                    if (line.split("_")[1].includes("true")) values.push("true");
                }
                if (line.split("\t")[1] != null) {
                    markerLabels.push(line.split("\t")[1]);
                }
            }
        });
    });

    function initialize() {
        var markers = [];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 41.881832, lng: -87.623177}
        });

        for (var i = 0; i < labels.length; i++) {
            var pos = new google.maps.LatLng(labels[i].split(",")[0], labels[i].split(",")[1]);

            var icon = {
                url: "",
                scaledSize: new google.maps.Size(35, 55)
            };

            if (values[i].includes("true")) icon.url = 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_green'
                + markerLabels[i] + '.png';
            if (values[i].includes("false")) icon.url = 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_red'
                + markerLabels[i] + '.png';

            markers[i] = new google.maps.Marker({
                position: pos,
                map: map,
                id: i,
                icon: icon
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOBPS2Lj354c5PbxD2EAQB46kJoNk4FpY&callback=initialize"></script>
</body>
</html>